/*Bottom */
#logo {
	width: 15%;
}

.bottom {
	position: fixed;
    width: 100%;
    background: #e9e9ea;

}

#password {
	-webkit-text-security: circle;
}
#password:hover {
	-webkit-text-security: none;
}
/*Menu*/
#menu1 a{
	color: black;
	text-decoration: none;
}
#menu2 {
	margin-left: 160px;
}
/*container */
#harta {
	background: white;
	width: 100%;
}

area:hover {
	background: red;
}

/*footer*/
.footer {
	margin-top: 30px;
}

/*Poll*/
#poll-list {
	background: black;
}
#poll-list a {
	text-decoration: none !important;
	color: white !important;
}

#pollsDiv {
	background: black;
	color: white;
}
.category-filter {
	margin-top: 30px;
}
.category-filter input{
	width: 15px;
	margin-top: 0px !important;
}
.category-filter label {
	margin-left: 25px;
	font-size: 15px
}
#applyBtn {
	width: 50%;
	margin-bottom: 10px;
}
input:required {
  border: 1px solid red;
  outline: none;
}
textarea:required {
  border: 1px solid red;
  outline: none;
}
/*create account*/
#field1 label {
	border: none!important;
	background: none;
	margin-left: 25px;
	font-size: 15px;
	color: black;
}
#field1 input{
	width: 13%;
    top: 30%;
    left: 25%;
    height: 13px;
}
/*add Poll*/
#submitForm {
	width: 15%;
	height: 40px;
	font-size: 14px;
}
#pollFormWrappper {
	background: white;
	padding: 20px;
}
/*other classes*/
.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.no-pad {
	padding-left: 0px !important;
	padding-right: 0px !important;
}