<!DOCTYPE html>
<html>
<head>
	<title>Adauga votare</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>	
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	<script type="text/javascript" src="/scripts/functionality.js"></script>
</head>
<body>
	<link href='bootcss/bootstrap.min.css' rel='stylesheet' />
	<script src="bootjs/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<div id="addPollDiv">
		<div class="bottom col-xs-12">
			<a href="/"><img class="pull-left" id="logo" src="/stylesheet/Imgs/logo.jpg"/></a>
		</div>
		<div class="container">
		<!-- Main Dropdown Menu -->
			<div class="dropdown" style="width: 3%;">
				<button class="btn btn-default no-pad" type="button" data-toggle="collapse" data-target="#menu1">
				    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
				</button>
				<ul class="dropdown-menu" id="menu1">
				    <li><a href="#myPopup" data-rel="popup" id="logare">Autentificare</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#">Votarile mele</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#myPopup2" data-rel="popup">Creare cont</a></li>
				</ul>
			</div>	
			<div id="pollFormWrappper" class="col-xs-offset-1 col-xs-10 col-xs-offset-1">
				<form id="pollForm">
					* Titlu: <input type="text" id="pollTitle" required>
					
					* Descriere: <textarea id="pollDesc" rows="5" cols="50" required></textarea>

					* Data de incheiere a votarii:
					<input type="date" name="endVote" style="width: 16%;" id="endDate" required>
					<div class="col-xs-12 category-filter row">
					* Categorie: 
						<input type="checkbox" class="messageCheckbox" name="Drumuri" id="DR" onclick="add_cat(name)">
						<label>Transporturi</label>
						<input type="checkbox" class="messageCheckbox" name="Spitale" id="SP" onclick="add_cat(name)">
						<label>Santate</label>
						<input type="checkbox" class="messageCheckbox" name="Scoli" id="SC" onclick="add_cat(name)">
						<label>Educatie</label>
						<input type="checkbox" class="messageCheckbox" name="Spatii verzi" id="SV" onclick="add_cat(name)">
						<label>Spatii Verzi</label>
						<input type="checkbox" class="messageCheckbox" name="Economie" id="EC" onclick="add_cat(name)">
						<label>Economie</label>
						<input type="checkbox" class="messageCheckbox" name="Aparare" id="AP" onclick="add_cat(name)">
						<label>Aparare</label>
						<input type="checkbox" class="messageCheckbox" name="Agricultura" id="AG" onclick="add_cat(name)">
						<label>Agricutura</label>
						<input type="checkbox" class="messageCheckbox" name="Sport" id="SP" onclick="add_cat(name)">
						<label>Sport</label>
						<input type="checkbox" class="messageCheckbox" name="Altele" id="AL" onclick="add_cat(name)">
						<label>Altele</label>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-3 category-filter row">
					* Judet:
		                    <input type="checkbox" id="B" name="judet" value="B">
							<label>Bucuresti</label>
		                    <input type="checkbox" id="BH" name="judet" value="BH">
							<label>Bihor</label>
							<input type="checkbox" id="AR" name="judet" value="AR">
							<label>Arad</label>
							<input type="checkbox" id="TM" name="judet" value="TM">
							<label>Timisoara</label>
							<input type="checkbox" id="CS" name="judet" value="CS">
							<label>Caras-Severin</label>
							<input type="checkbox" id="MH" name="judet" value="MH">
							<label>Mehedinti</label>
							<input type="checkbox" id="GJ" name="judet" value="GJ">
							<label>Gorj</label>
							<input type="checkbox" id="HD" name="judet" value="HD">
							<label>Hunedoara</label>
							<input type="checkbox" id="AB" name="judet" value="AB">
							<label>Alba-Iulia</label>
							<input type="checkbox" id="CJ" name="judet" value="CJ">
							<label>Cluj-Napoca</label>
						</div>
						<div class="col-xs-3 category-filter row">
							<input type="checkbox" id="SJ" name="judet" value="SJ">
							<label>Salaj</label>
							<input type="checkbox" id="SM" name="judet" value="SM">
							<label>Satu Mare</label>
							<input type="checkbox" id="MM" name="judet" value="MM">
							<label>Maramures</label>
							<input type="checkbox" id="BN" name="judet" value="BN">
							<label>Bistrita-Nasaud</label>
							<input type="checkbox" id="MS" name="judet" value="MS">
							<label>Mures</label>
							<input type="checkbox" id="SB" name="judet" value="SB">
							<label>Sibiu</label>
							<input type="checkbox" id="VL" name="judet" value="VL">
							<label>Valcea</label>
							<input type="checkbox" id="DJ" name="judet" value="DJ">
							<label>Dolj</label>
							<input type="checkbox" id="OT" name="judet" value="OT">
							<label>Olt</label>
							<input type="checkbox" id="TR" name="judet" value="TR">
							<label>Teleorman</label>
							<input type="checkbox" id="AG" name="judet" value="AG">
							<label>Arges</label>
						</div>
						<div class="col-xs-3 category-filter row">
							<input type="checkbox" id="BV" name="judet" value="BV">
							<label>Brasov</label>
							<input type="checkbox" id="HR" name="judet" value="HR">
							<label>Harghita</label>
							<input type="checkbox" id="SV" name="judet" value="SV">
							<label>Suceava</label>
							<input type="checkbox" id="CV" name="judet" value="CV">
							<label>Covasna</label>
							<input type="checkbox" id="DB" name="judet" value="DB">
							<label>Dambovita</label>
							<input type="checkbox" id="GR" name="judet" value="GR">
							<label>Giurgiu</label>
							<input type="checkbox" id="IF" name="judet" value="IF">
							<label>Ilfov</label>
							<input type="checkbox" id="PH" name="judet" value="PH">
							<label>Prahova</label>
							<input type="checkbox" id="NT" name="judet" value="NT">
							<label>Neamt</label>
							<input type="checkbox" id="BC" name="judet" value="BC">
							<label>Bacau</label>
							<input type="checkbox" id="VN" name="judet" value="VN">
							<label>Vrancea</label>
						</div>
						<div class="col-xs-3 category-filter row">
							<input type="checkbox" id="BZ" name="judet" value="BZ">
							<label>Buzau</label>
							<input type="checkbox" id="IL" name="judet" value="IL">
							<label>Ialomita</label>
							<input type="checkbox" id="CL" name="judet" value="CL">
							<label>Calarasi</label>
							<input type="checkbox" id="BR" name="judet" value="BR">
							<label>Braila</label>
							<input type="checkbox" id="GL" name="judet" value="GL">
							<label>Galati</label>
							<input type="checkbox" id="VS" name="judet" value="VS">
							<label>Vaslui</label>
							<input type="checkbox" id="IS" name="judet" value="IS">
							<label>Iasi</label>
							<input type="checkbox" id="BT" name="judet" value="BT">
							<label>Botosani</label>
							<input type="checkbox" id="TL" name="judet" value="TL">
							<label>Tulcea</label>
							<input type="checkbox" id="CT" name="judet" value="CT">
							<label>Constanta</label>
						</div>
							<button id="submitForm" class="btn btn-default pull-right" type="submit" onclick="poll_info()">Adauga Poll</button>
					</div>		
				</form>
			</div>
		</div>

		
		<div class="footer"></div>
		<!-- Login POPUP -->
	   	<div data-role="popup" id="myPopup" class="ui-content" data-overlay-theme="b" data-transition="pop" data-position-to="window"	>
    		<a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
      		<div id="load-login">
				<p>Introduceti datele de autentificare.</p>
				<hr style="margin-top: 0px;">
				<form>
					<lable>Nume utilizator:</lable>
					<input type="text" name="username" id="username">
					<lable>Parola:</lable>
					<input type="text" name="password" id="password" style=""/>
					<input type="submit" onclick="login_info()" class="btn btn-default" value="Autentificare">
				</form>
			</div>
    	</div>
		
		<!-- Auth Menu-->
		<div data-role="popup" id="myPopup2" class="ui-content" data-overlay-theme="b" data-transition="pop" data-position-to="window">
    		<a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
      		<div id="load-auth">
				<form>
					<fieldset id="fileset0">
						<legend> Introduceti datele personale</legend>
							<label>Prenume :</label>
							<input type="text" name="prenume" id="firstName" required>
							<label>Nume: </label>
							<input type="text" name="nume" id="lastName" required>
							<label>Email :</label>
							<input type="text" name="email" id="email" required>
							<label>Cod numeric personal :</label>
							<input type="text" name="CNP" id="cnp" required>
							<label>Username</label>
							<input type="text" name="username" id="username1" required>
							<label>Password</label>
							<input type="password" name="password" id="password11" required>
							<label>Repeat Password</label>
							<input type="password" name="password2" id="password22" required>
							<label>Tipul de utilizator</label>
							<label> <input type="radio" name="inlineButton" value="1">Admin </label>
							<label> <input type="radio" name="inlineButton" value="2">Moderator </label>
							<label> <input type="radio" name="inlineButton" value="3">Normal </label>
					</fieldset>
					<br/>
					<fieldset id="field2" data-role="controlgroup" data-type="horizontal">
					        <input type="button" id="mainCaptcha" onclick="Captcha()"/> Inserati in casuta textul din staga
							<input type="text" id="txtInput"/>    
					</fieldset>	
				    <br/>
					<fieldset id="field3" data-role="controlgroup" data-type="horizontal">
						<input type="Submit"  value="Submit" onclick="registerUser()">
						<input type="reset">
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>