<div id="pollFormWrappper" class="col-xs-offset-1 col-xs-10 col-xs-offset-1">
	<form id="pollForm" disabled="true">
		<div class="col-xs-6 no-pad">
		* Titlu: <input type="text" id="pollTitle" required>
		</div>
		<div class="col-xs-offset-1 col-xs-5 no-pad">
		* Data de incheiere a votarii:
			<input type="date" name="endVote" style="line-height: 10px !important;" id="endDate" required>
		</div>
		* Descriere: <textarea id="pollDesc" rows="5" cols="50" required></textarea>

		<div class="col-xs-12 category-filter row">
		* Categorie: 
			<input type="checkbox" class="messageCheckbox" name="Drumuri" id="DR" onclick="add_cat(name)">
			<label>Transporturi</label>
			<input type="checkbox" class="messageCheckbox" name="Spitale" id="SP" onclick="add_cat(name)">
			<label>Santate</label>
			<input type="checkbox" class="messageCheckbox" name="Scoli" id="SC" onclick="add_cat(name)">
			<label>Educatie</label>
			<input type="checkbox" class="messageCheckbox" name="Spatii verzi" id="SV" onclick="add_cat(name)">
			<label>Spatii Verzi</label>
			<input type="checkbox" class="messageCheckbox" name="Economie" id="EC" onclick="add_cat(name)">
			<label>Economie</label>
			<input type="checkbox" class="messageCheckbox" name="Aparare" id="AP" onclick="add_cat(name)">
			<label>Aparare</label>
			<input type="checkbox" class="messageCheckbox" name="Agricultura" id="AG" onclick="add_cat(name)">
			<label>Agricutura</label>
			<input type="checkbox" class="messageCheckbox" name="Sport" id="SP" onclick="add_cat(name)">
			<label>Sport</label>
			<input type="checkbox" class="messageCheckbox" name="Altele" id="AL" onclick="add_cat(name)">
			<label>Altele</label>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-3 category-filter row">
		* Judet:
                <input type="checkbox" id="B" name="judet" value="B">
				<label>Bucuresti</label>
                <input type="checkbox" id="BH" name="judet" value="BH">
				<label>Bihor</label>
				<input type="checkbox" id="AR" name="judet" value="AR">
				<label>Arad</label>
				<input type="checkbox" id="TM" name="judet" value="TM">
				<label>Timisoara</label>
				<input type="checkbox" id="CS" name="judet" value="CS">
				<label>Caras-Severin</label>
				<input type="checkbox" id="MH" name="judet" value="MH">
				<label>Mehedinti</label>
				<input type="checkbox" id="GJ" name="judet" value="GJ">
				<label>Gorj</label>
				<input type="checkbox" id="HD" name="judet" value="HD">
				<label>Hunedoara</label>
				<input type="checkbox" id="AB" name="judet" value="AB">
				<label>Alba-Iulia</label>
				<input type="checkbox" id="CJ" name="judet" value="CJ">
				<label>Cluj-Napoca</label>
			</div>
			<div class="col-xs-3 category-filter row">
				<input type="checkbox" id="SJ" name="judet" value="SJ">
				<label>Salaj</label>
				<input type="checkbox" id="SM" name="judet" value="SM">
				<label>Satu Mare</label>
				<input type="checkbox" id="MM" name="judet" value="MM">
				<label>Maramures</label>
				<input type="checkbox" id="BN" name="judet" value="BN">
				<label>Bistrita-Nasaud</label>
				<input type="checkbox" id="MS" name="judet" value="MS">
				<label>Mures</label>
				<input type="checkbox" id="SB" name="judet" value="SB">
				<label>Sibiu</label>
				<input type="checkbox" id="VL" name="judet" value="VL">
				<label>Valcea</label>
				<input type="checkbox" id="DJ" name="judet" value="DJ">
				<label>Dolj</label>
				<input type="checkbox" id="OT" name="judet" value="OT">
				<label>Olt</label>
				<input type="checkbox" id="TR" name="judet" value="TR">
				<label>Teleorman</label>
				<input type="checkbox" id="AG" name="judet" value="AG">
				<label>Arges</label>
			</div>
			<div class="col-xs-3 category-filter row">
				<input type="checkbox" id="BV" name="judet" value="BV">
				<label>Brasov</label>
				<input type="checkbox" id="HR" name="judet" value="HR">
				<label>Harghita</label>
				<input type="checkbox" id="SV" name="judet" value="SV">
				<label>Suceava</label>
				<input type="checkbox" id="CV" name="judet" value="CV">
				<label>Covasna</label>
				<input type="checkbox" id="DB" name="judet" value="DB">
				<label>Dambovita</label>
				<input type="checkbox" id="GR" name="judet" value="GR">
				<label>Giurgiu</label>
				<input type="checkbox" id="IF" name="judet" value="IF">
				<label>Ilfov</label>
				<input type="checkbox" id="PH" name="judet" value="PH">
				<label>Prahova</label>
				<input type="checkbox" id="NT" name="judet" value="NT">
				<label>Neamt</label>
				<input type="checkbox" id="BC" name="judet" value="BC">
				<label>Bacau</label>
				<input type="checkbox" id="VN" name="judet" value="VN">
				<label>Vrancea</label>
			</div>
			<div class="col-xs-3 category-filter row">
				<input type="checkbox" id="BZ" name="judet" value="BZ">
				<label>Buzau</label>
				<input type="checkbox" id="IL" name="judet" value="IL">
				<label>Ialomita</label>
				<input type="checkbox" id="CL" name="judet" value="CL">
				<label>Calarasi</label>
				<input type="checkbox" id="BR" name="judet" value="BR">
				<label>Braila</label>
				<input type="checkbox" id="GL" name="judet" value="GL">
				<label>Galati</label>
				<input type="checkbox" id="VS" name="judet" value="VS">
				<label>Vaslui</label>
				<input type="checkbox" id="IS" name="judet" value="IS">
				<label>Iasi</label>
				<input type="checkbox" id="BT" name="judet" value="BT">
				<label>Botosani</label>
				<input type="checkbox" id="TL" name="judet" value="TL">
				<label>Tulcea</label>
				<input type="checkbox" id="CT" name="judet" value="CT">
				<label>Constanta</label>
			</div>
				<button id="submitForm" class="btn btn-default pull-right" type="submit" onclick="poll_info()">Adauga Poll</button>
		</div>
		<div id="butoane-CRUD">
			<button >Editeaza</button><!-- devine salveaza -->
			<button >Sterge</button><!-- devine renunta -->
		</div>
	</form>
</div>
