<!DOCTYPE html>
<html>
<head>
	<title>Lista de votari</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>	
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	<script type="text/javascript" src="/scripts/functionality.js"></script>
    <script type="text/javascript" src="/scripts/getPollsData.js"></script>
</head>
<body>
	<link href='bootcss/bootstrap.min.css' rel='stylesheet' />
	<script src="bootjs/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<div id="pollsDiv">
		<div class="bottom col-xs-12">
			<a href="/"><img class="pull-left" id="logo" src="/stylesheet/Imgs/logo.jpg"/></a>
			<a href="#myPopup" class="pull-right auth"  data-rel="popup"></a>
		</div>
		<div class="container">
			<div class="dropdown" style="width: 3%;">
				<button class="btn btn-default no-pad" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
				    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="menu1">
				    <li><a href="/myPolls">Votarile mele</a></li>
				    <li><a href="/addPoll">Adauga votare</a></li>
					<li role="separator" class="divider" id="sep"></li>
					<li><a href="#myPopup2" id="creareCont" data-rel="popup">Creare cont</a></li>
				</ul>
			</div>
			<!-- CATEGORY FILTER -->
			<div class="col-xs-2 category-filter row">
				<span>CATEGORI:</span>
				<input type="checkbox" class="messageCheckbox" name="Drumuri" id="DR" onclick="add_cat(name)">
				<label>Transporturi</label>
				<input type="checkbox" class="messageCheckbox" name="Spitale" id="SP" onclick="add_cat(name)">
				<label>Santate</label>
				<input type="checkbox" class="messageCheckbox" name="Scoli" id="SC" onclick="add_cat(name)">
				<label>Educatie</label>
				<input type="checkbox" class="messageCheckbox" name="Spatii verzi" id="SV" onclick="add_cat(name)">
				<label>Spatii Verzi</label>
				<input type="checkbox" class="messageCheckbox" name="Economie" id="EC" onclick="add_cat(name)">
				<label>Economie</label>
				<input type="checkbox" class="messageCheckbox" name="Aparare" id="AP" onclick="add_cat(name)">
				<label>Aparare</label>
				<input type="checkbox" class="messageCheckbox" name="Agricultura" id="AG" onclick="add_cat(name)">
				<label>Agricutura</label>
				<input type="checkbox" class="messageCheckbox" name="Sport" id="SP" onclick="add_cat(name)">
				<label>Sport</label>
				<input type="checkbox" class="messageCheckbox" name="Altele" id="AL" onclick="add_cat(name)">
				<label>Altele</label>

				<button class="btn btn-default" id="applyBtn" onclick="create_polls_list()"><span style="width: 100%;">Aplica</span></button>
			</div>
			<!-- POLLS LIST -->
			<div id="poll-list" class="col-xs-10">

			
			</div>
		</div>
		<!-- Poll PopUp -->
		<div data-role="popup" id="pollPopup" class="ui-content" data-overlay-theme="b" data-transition="pop" data-position-to="window">
			<a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
	  		<div id="poll-vote">
	  			

	  		</div>
	  	</div>
</div>
		<!-- Login POPUP -->
	   	<div data-role="popup" id="myPopup" class="ui-content" data-overlay-theme="b" data-transition="pop" data-position-to="window">
			<a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
			<div id="load-login">
				<p>Introduceti datele de autentificare.</p>
				<hr style="margin-top: 0px;">
				<form>
					<lable>Username</lable>
					<input type="text" name="username" id="username">
					<lable>Password</lable>
					<input type="text" name="password" id="password" style=""/>
					<input type="submit" onclick="login_info()" class="btn btn-default" value="Autentificare">
				</form>
			</div>
		</div>
		<!-- Auth Menu-->
		<div data-role="popup" id="myPopup2" class="ui-content" data-overlay-theme="b" data-transition="pop" data-position-to="window">
    		<a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
      		<div id="load-auth">
				<form>
					<fieldset id="fileset0">
						<legend> Introduceti datele personale</legend>
						<div class="col-xs-6 category-filter">
							<label>Prenume</label>
							<input type="text" name="prenume" id="firstName" required>
							<label>Nume</label>
							<input type="text" name="nume" id="lastName" required>
							<label>Email</label>
							<input type="text" name="email" id="email" required>
							<label>Cod numeric personal</label>
							<input type="text" name="CNP" id="cnp" required>
						</div>
						<div class="col-xs-6 category-filter">
							<label>Nume de utilizator</label>
							<input type="text" name="username" id="username1" required>
							<label>Parola</label>
							<input type="password" name="password" id="password11" required>
							<label>Repetati parola</label>
							<input type="password" name="password2" id="password22" required>
							<label>Tipul de utilizator</label>
							<input type="radio" name="inlineButton" value="1"><label>Admin </label>
							<input type="radio" name="inlineButton" value="2"><label>Moderator </label>
							<input type="radio" name="inlineButton" value="3"><label>Normal </label>
						</div>
					</fieldset>
					<br/>
					<div class="text-center">
						<fieldset id="field2" data-role="controlgroup" data-type="horizontal">
						        <input type="button" id="mainCaptcha" onclick="Captcha()"/> Inserati in casuta textul din staga
								<input type="text" id="txtInput"/>    
						</fieldset>	
					    <br/>
						<fieldset id="field3" data-role="controlgroup" data-type="horizontal">
							<input type="Submit"  value="Submit" class="btn btn-default" onclick="registerUser()">
							<input type="reset" class="btn btn-default">
						</fieldset>
					</div>
				</form>
			</div>
		</div>
	<!-- </div> -->
</body>
</html>